.dashboard {
    background-color: black;
    width: 100%;

}

.chart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
}

.chart h2 {
    font-size: 18px;
    text-align: center;
    color: azure;
}

.chart {

    margin-top: 10px;
    margin: 20px auto;
}

@media only screen and (max-width:576px) {
    .chart-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .chart {
        margin-top: 20px;

    }

    .dashboard {
        width: fit-content;
    }
}